<h1>New Game</h1>
<% @letters.each do |letter| %>
  <p class="badge bg-primary"><%= letter %></p>
<% end %>

<form action="/score" method="POST" data-turbo="false">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Your guess</label>
    <input type="text" class="form-control" name="answer">
    <div class="form-text">Goodluck</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
